html,
body {
    height: 100%;
}

.content-container-parent {
    width: 100%;
}

.content-container {
    width: 100%;
    padding: 20px;
}

/* NAVBAR */
.navbar {
    width: 100%;
    position: absolute;
    top: 30px;
    z-index: 999;
    transition: background-color 0.3s ease-in-out;
    padding: 20px;
}

.navbar-scrolled {
    position: sticky;
    top: 0;
    background-color: #000000;
}

.logo-container {
    width: 120px;
}

.logo-container img {
    max-width: 100%;
}

.navbar-links {
    gap: 8px;
}

.navlink-color {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
}

.navbar .dropdown-toggle::after {
    color: #FFFFFF;
    font-size: 15px;
}

.nav-link,
.nav-link:visited,
.nav-link:focus,
.nav-link:active,
.nav-link:hover {
    color: #FFFFFF;
}

.property-btn-part {
    display: flex;
    align-items: center;
    gap: 15px;
}

.phone-icon-number {
    display: flex;
    gap: 5px;
}

.phone-icon-number span {
    cursor: pointer;
}

.phone-icon {
    color: #FFFFFF;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.user-icon-container {
    width: 35px;
    height: 35px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon {
    color: #FFFFFF;
}

.property-btn {
    border: 1px solid #FFFFFF;
    padding: 8px 26px;
    font-size: 14px;
    border-radius: 50px;
    outline: none;
    background-color: transparent;
    color: #FFFFFF;
}

.property-btn:hover {
    background-color: #FFFFFF;
    color: #000;
}

/* Custom CSS to change the hamburger icon color to white */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* HERO-SECTION */
.hero-section {
    position: relative;
    width: 100%;
}

.hero-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.hero-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: auto;
}

.hero-button {
    border: 1px solid #FFFFFF;
    font-size: 14px;
    color: #FFFFFF;
    background-color: transparent;
    border-radius: 40px;
    padding: 8px 26px;
}

.hero-content-heading {
    font-weight: 500;
    color: #FFFFFF;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 14px;
}

.tab {
    padding-bottom: 5px;
    transition: color 0.3s ease;
    cursor: pointer;
    width: fit-content;
    position: relative;
    color: #FFFFFF;
}

.tab::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.tab.active::after,
.tab:hover::after {
    width: 100%;
}

.search-bar {
    margin-top: 20px;
    width: 100%;
    position: relative;
}

.search-bar input {
    width: 100%;
    max-width: 37%;
    padding: 15px 22px;
    border-radius: 70px;
    border: none;
    outline: none;
    font-size: 12px;
    color: #1A1A1A;
}

.search-bar input::placeholder {
    color: #1A1A1A;
}

.search-icon-container {
    height: 40px;
    width: 40px;
    background-color: #E7C873;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 31.9%;
    bottom: 4px;
}

.search-icon {
    color: #1A1A1A;
}

/* HOMES FOR YOU */
.homes-for-you-container {
    background-color: #F6F8FA;
    padding: 100px;
    margin-top: 20px;
    border-radius: 24px;
}

.heading,
.heading-para {
    text-align: center;
}

.homes-card-container-parent {
    padding: 0 10px;
}

.card-parent-container {
    background-color: #FFFFFF;
    border: 1px solid #E9E9E9;
    border-radius: 16px;
    padding: 10px;
}

.card-image-container {
    position: relative;
}

.card-image-container img {
    width: 100%;
    border-radius: 16px;
}

.card-text-container {
    padding: 15px 10px;
}

.btn1 {
    background-color: #1F4B43;
    color: #FFFFFF;
    border-radius: 33px;
    border: none;
    padding: 6px 12px;
    font-size: 12px;
    position: absolute;
    top: 22px;
    left: 22px;
    font-weight: 500;
}

.btn2 {
    background-color: #E7C873;
    color: #1A1A1A;
    border-radius: 33px;
    border: none;
    padding: 6px 12px;
    font-size: 12px;
    position: absolute;
    top: 22px;
    left: 110px;
    font-weight: 500;
}

.name-price-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.name {
    color: #1A1A1A;
    font-weight: 500;
    font-size: 14px;
}

.price {
    color: #EB664E;
    font-weight: 600;
    font-size: 14px;
}

.duration {
    font-weight: 400;
    font-size: 14px;
}

.location-container {
    padding-top: 10px;
}

.location-icon {
    font-size: 20px;
}

.location-address span {
    font-size: 12px;
}

.bed-bath-sqrt-container {
    padding-top: 15px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.common-bed-bath-sqrt-container {
    display: flex;
    gap: 6px;
    align-items: center;
}

.bed-bath-sqrt-img {
    width: 20px;
    height: 20px;
}

.bed-bath-sqrt-img img {
    max-width: 20px;
    max-height: 20px;
}

.bed-bath-sqrt-text {
    font-size: 12px;
}

.common-bed-bath-sqrt-container:not(:last-child) {
    border-right: 1px solid #E9E9E9;
    padding-right: 10px;
    margin-right: 10px;
}

/* FIND PROPERTIES CONTAINER */
.find-properties-container {
    padding: 100px;
}

.find-property-parent {
    position: relative;
}

.find-property-img {
    height: 295px;
    position: relative;
    overflow: hidden;
}

.find-property-img img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.find-property-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
            #1A1A1A00 0%,
            #1A1A1A1A 10%,
            #1A1A1ACC 80%);
    z-index: 1;
    border-radius: 16px;
}

.find-property-container {
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 2;
}

.find-property-text {
    color: #FFFFFF;
    font-size: 12px;
}

.find-property-place {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
}

/*  CHOOSE US */
.choose-us-container {
    background-color: #E7C873;
    padding: 100px;
    border-radius: 24px;
}

.choose-us-common {
    text-align: center;
}

.choose-us-heading {
    color: #1A1A1A;
    font-weight: 600;
}

.choose-us-content-line {
    color: #1A1A1A;
    font-size: 12px;
}

/* BEST PROPERTIES */
.best-properties-container {
    padding: 100px;
}

.properties-col1-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.common-img-properties {
    width: 100%;
    border-radius: 16px;
}

.properties-col1-part1 {
    width: 100%;
    height: 49%;
    position: relative;
}

.properties1-img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.properties-common-arrow {
    padding: 8px 20px;
    background-color: rgba(26, 26, 26, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
    position: absolute;
    color: #FFFFFF;
    cursor: pointer;
}

.properties-left-arrow {
    top: 40%;
    left: 10px;
}

.properties-right-arrow {
    top: 40%;
    right: 10px;
}

.properties-col1-part2 {
    width: 100%;
    height: 49%;
    display: flex;
    justify-content: space-between;
}

.properties-col1-part2-card {
    background-color: #1A1A1A;
    width: 49%;
    height: 100%;
    padding: 20px;
    border-radius: 16px;
    position: relative;
}

.properties-card-text {
    color: #FFFFFF;
}

.properties-heading {
    font-size: 28px;
}

.properties-text {
    font-size: 13px;
}

.properties-description {
    font-size: 11px;
    margin-top: 20px;
}

.properties2-img-container {
    width: 49%;
    height: 100%;
    position: relative;
}

.properties2-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.play-btn {
    height: 50px;
    width: 50px;
    background-color: rgba(26, 26, 26, 0.11);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 40%;
}

.play-btn-icon {
    color: #FFFFFF;
    cursor: pointer;
}

.properties-arrow {
    background-color: #FFFFFF;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.properties-right-icon {
    color: #1A1A1A;
    cursor: pointer;
}

.properties-col2 {
    position: relative;
}

.properties3-img-container {
    position: relative;
    overflow: hidden;
}

.properties3-img {
    width: 100%;
}

.properties3-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
            #00000000 0%,
            #1A1A1A1A 10%,
            #1A1A1ACC 80%);
    z-index: 2;
    border-radius: 16px;
}

.sale-featured-btn {
    position: absolute;
    top: 25px;
    left: 35px;
    display: flex;
    gap: 8px;
    z-index: 3;
}

.sale-btn {
    background-color: #1F4B43;
    color: #FFFFFF;
    border-radius: 33px;
    border: none;
    padding: 6px 12px;
    font-size: 10px;
    font-weight: 500;
}

.featured-btn {
    background-color: #E7C873;
    color: #1A1A1A;
    border-radius: 33px;
    border: none;
    padding: 6px 12px;
    font-size: 10px;
    font-weight: 500;
}

.properties3-img-bottom-part {
    position: absolute;
    bottom: 27px;
    left: 35px;
    z-index: 3;
}

.villa-heading {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
}

.villa-location {
    color: #FFFFFF;
    font-size: 12px;
}

.properties3-bottom-container {
    display: flex;
    gap: 40px;
    color: #FFFFFF;
}

.villa-price {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
}

.properties3-bottom-bedBathSqrt {
    display: flex;
    gap: 20px;
}

.bottom-bedBathSqrt-img img {
    height: 16px;
    width: 16px;
}

.properties3-common {
    display: flex;
    gap: 10px;
    align-items: center;
    border-right: 2px solid #FFFFFF;
    padding-right: 20px;
}

.properties3-common:last-child {
    border-right: none;
    padding-right: 0;
}

.properties3-common-number {
    font-size: 12px;
}

/* LUXURY HOMES */
.luxury-homes-container {
    padding: 100px 171px;
    background-color: #1F4B43;
    border-radius: 24px;
}

.luxury-home-img-container {
    width: 100%;
}

.luxury-home-img {
    max-width: 100%;
    border-radius: 24px;
}

.img-users-container {
    position: relative;
}

.users-clients-container {
    background-color: #FFFFFF;
    border-radius: 16px;
    display: flex;
    gap: 8px;
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 10px 18px;
}

.users-img {
    height: 35px;
    width: 35px;
}

.total-clients {
    font-size: 11px;
    color: #1A1A1A;
}

.client-number {
    font-size: 12px;
    color: #1A1A1A;
    font-weight: 600;
}

.luxury-heading {
    color: #FFFFFF;
    font-weight: 500;
}

.luxury-description {
    color: #FFFFFF;
    font-size: 14px;
    text-align: justify;
}

.numbers-container {
    margin-top: 70px;
}

.million-number {
    color: #FFFFFF;
    font-size: 40px;
    color: #E7C873;
    font-weight: 500;
}

.million-dollar-content {
    color: #FFFFFF;
    font-size: 12px;
}

/* CUSTOMERS */
.customers-container {
    padding: 100px;
}

.customer-common-color {
    color: #1A1A1A;
}

.customers-col1-description {
    margin-top: 15px;
    font-size: 13px;
    line-height: 22px;
}

.rating-container {
    margin-top: 15px;
    display: flex;
    gap: 50px;
}

.rating {
    font-weight: 600;
}

.people-overall-rating {
    font-size: 12px;
    margin-top: 5px;
}

.customers-col2-customer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customers-img-name {
    display: flex;
    align-items: center;
}

.customer-img {
    width: 60px;
    height: 60px;
}

.customer-name-container {
    margin-left: 10px;
}

.customer-name {
    font-size: 14px;
}

.customer-designer {
    font-size: 12px;
}

.comma img {
    width: 25px;
    height: 25px;
}

.customers-col2-description {
    margin-top: 15px;
    font-size: 13px;
    line-height: 22px;
}

.customers-arrow {
    margin-top: 15px;
    display: flex;
    gap: 15px;
}

.customers-arrows {
    border: 1px solid #E9E9E9;
    color: #000000;
    padding: 8px 20px;
    border-radius: 40px;
    cursor: pointer;
}

.customer-container-row1 {
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 50px;
}

.customer-container-row2 {
    padding-top: 50px;
}

.row2-description {
    text-align: center;
}

.logo-slider-container {
    margin-top: 50px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background-color: #fff;
}

.logo-slider-track {
    display: flex;
    width: fit-content;
    animation: scroll 20s linear infinite;
}

.logo-slide {
    flex: 0 0 auto;
    margin: 0 30px;
    width: 75px;
}

.logo-slide img {
    max-width: 100%;
    max-height: 100%;
}

/* Animation for infinite scroll */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* RECENT ARTICLES AND NEWS */
.article-news-container {
    padding: 100px;
    background-color: #F9F9F9;
    border-radius: 24px;
}

.article-news-card-container {
    background-color: #FFFFFF;
    border: 1px solid #E9E9E9;
    border-radius: 16px;
}

.article-news-card-container img {
    width: 100%;
    cursor: pointer;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.article-news-card-content {
    padding: 20px;
    text-align: center;
}

.place-date-container {
    display: flex;
    font-size: 12px;
    color: #3D3E3F;
    justify-content: center;
}

.article-news-card-description {
    font-size: 13px;
    font-weight: 500;
    color: #1A1A1A;
}

.read-more {
    font-size: 12px;
    font-weight: 500;
    color: #1A1A1A;
    cursor: pointer;
}

/* REAL ESTATE */
.real-estate-container {
    background-color: #FFFFFF;
    padding: 70px 100px;
}

.links-container {
    display: flex;
    gap: 30px;
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 10px;
}

.common-links {
    color: #1A1A1A;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

/* Active underline that fits text width */
.common-links.active::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1A1A1ACC;
}

/* Wrapping container for real estate links */
.real-estate-flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.real-estate-links ul {
    padding: 0;
    margin: 0;
}

.common-link-content {
    font-size: 12px;
    margin-top: 10px;
    list-style: none;
}

.common-link-content a {
    text-decoration: none;
    color: #1A1A1A;
}

/* REAL ESTATE AGENT */
.real-estate-agent-container {
    background-color: #FFF8F6;
    padding: 70px 200px;
    border-radius: 24px;
}

.agent-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.agent-content-heading {
    font-size: 22px;
    color: #1A1A1A;
    font-weight: 500;
}

.agent-content-description {
    color: #1A1A1A;
    font-size: 12.5px;
}

.agent-register-btn {
    background-color: #E7C873;
    color: #1A1A1A;
    font-size: 12px;
    padding: 12px 22px;
    font-weight: 500;
    border: none;
    border-radius: 12px;
    outline: none;
}

.agent-register-btn span {
    padding-left: 4px;
}

/* FOOTER */
.footer-container {
    background-color: #1A1A1A;
    border-radius: 24px;
    margin-top: 20px;
    padding: 24px 48px;
    width: 100%;
}

.footer-logo-container {
    width: 120px;
}

.footer-logo-container img {
    max-width: 100%;
}

.footer-container-row1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-icon-container {
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: 500;
}

.follow-us a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer-icon-common {
    color: #FFFFFF;
    height: 15px;
    width: 15px;
}

.subscribe-text {
    color: #FFFFFF;
    font-weight: 500;
    opacity: 0.47;
    font-size: 14px;
}

.subscribe-input-container {
    color: #FFFFFF;
    width: fit-content;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
}

.subscribe-input-box {
    border: none;
    padding: 0 160px 20px 0;
    width: 100%;
    background-color: #1A1A1A;
    font-size: 12px;
    outline: none;
}

.subscribe-input-box::placeholder {
    color: #FFFFFF;
}

.subscribe-input-box:focus {
    color: #FFFFFF;
}

.subscribe-btn {
    background-color: #322f2f;
    color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 44px;
    font-size: 12px;
    padding: 10px 20px;
    position: absolute;
    right: 0;
}

.subscribe-description {
    color: #FFFFFF;
    font-size: 12px;
}

.discover-text {
    color: #FFFFFF;
    opacity: 0.47;
    font-size: 14px;
    margin-bottom: 10px;
}

.discover-links {
    list-style: none;
    padding-left: 0;
}

.discover-links a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    display: inline-block;
    margin-top: 10px;
}

.discover-links a:hover {
    color: red;
}

.our-address-contact {
    color: #FFFFFF;
    font-size: 12px;
    margin-top: 20px;
    line-height: 25px;
}

.apple-container,
.google-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
    background-color: #322f2f;
    padding: 10px;
}

.apple-container a,
.google-container a {
    text-decoration: none;
    color: #FFFFFF;
}

.download-link {
    font-size: 12px;
}

.store-link {
    font-size: 14px;
    font-weight: 500;
}

.google-container {
    margin-top: 20px;
}

.apple-google-icon-wrapper {
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.copyright-container {
    position: relative;
    margin-top: 40px;
}

.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    padding-top: 40px;
}

.up-arrow {
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* MEDIA QUERIES */
@media(max-width : 1262px) {
    .homes-for-you-container {
        padding: 70px 50px;
    }

    .find-properties-container {
        padding: 70px 50px;
    }

    .footer-container {
        padding: 20px;
    }

    .discover-links a {
        font-size: 10px;
    }

    .common-font-12 {
        font-size: 12px;
    }

    .common-font-10,
    .copyright {
        font-size: 10px;
    }
}

@media(max-width : 1202px) {
    .article-news-container {
        padding: 100px 80px;
    }

    .best-properties-container {
        padding: 100px 80px;
    }
}

@media(max-width : 1148px) {
    .real-estate-container {
        padding: 70px;
    }

    .common-link-content {
        margin-right: 0;
    }
}

@media(max-width : 1094px) {
    .navbar-links {
        gap: 0;
    }

    .property-btn-part {
        gap: 8px;
    }

    .hero-content {
        margin-top: 40px;
    }
}

@media(max-width : 1082px) {
    .article-news-container {
        padding: 100px 30px;
    }
}

@media(max-width : 1026.98px) {
    .best-properties-container {
        padding: 100px 50px;
    }
}

@media(max-width: 991.98px) {
    .navbar {
        background-color: #000000;
        position: fixed;
        top: 0;
        padding: 0;
    }

    .navlink-color, .nav-dropdown, .property-btn {
        font-size: 11px;
    }

    .hero-img {
        height: 100vh;
        border-radius: 24px;
    }

    .choose-us-container {
        padding: 70px 100px;
    }

    .choose-us-common {
        margin-bottom: 40px;
    }

    .article-news-container {
        padding: 100px 45px;
    }

    .article-news-card-container {
        margin-top: 30px;
    }

    .luxury-homes-container {
        padding: 100px;
    }

    .numbers-container-col {
        margin-top: 25px;
    }

    .customers-container {
        padding: 70px;
    }

    .best-properties-container {
        padding: 100px 30px;
    }

    .find-properties-container {
        padding: 70px 0;
    }

    .input-margin-991 {
        margin-bottom: 50px;
    }
}

@media(max-width : 950px) {
    .bed-bath-sqrt-text {
        font-size: 10px;
    }

    .real-estate-agent-container {
        padding: 70px 150px;
    }
}

@media(max-width : 879.98px) {
    .real-estate-container {
        padding: 70px 30px;
    }

    .real-estate-agent-container {
        padding: 70px 120px;
    }

    .properties-arrow {
        bottom: 10px;
        right: 10px;
    }
}

@media(max-width : 845.98px) {
    .luxury-homes-container {
        padding: 100px 50px;
    }

    .properties-description {
        margin-top: 8px;
    }

    .properties-col1-part2-card {
        padding: 15px;
    }
}


@media(max-width : 768.98px) {
    .search-bar input {
        max-width: 70%;
    }

    .search-icon-container {
        right: 16%;
    }

    .choose-us-container {
        padding: 70px 40px;
    }

    .real-estate-agent-container {
        padding: 70px 80px;
    }

    .luxury-heading {
        margin-top: 20px;
    }

    .customers-container {
        padding: 40px 30px;
    }

    .customers-col1,
    .customers-col2 {
        margin-top: 50px;
    }

    .properties-col1-part2 {
        margin-top: 20px;
    }

    .properties-col2 {
        margin-top: 20px;
    }
}

@media(max-width : 767.98px) {
    .luxury-homes-container {
        padding: 100px 40px;
    }

    .luxury-heading {
        font-size: 22px;
    }

    .luxury-description {
        font-size: 12px;
    }

    .find-property-common-margin {
        margin-bottom: 24px;
    }
}

@media(max-width : 682.98px) {
    .homes-for-you-container {
        padding: 70px 100px;
    }

    .real-estate-agent-container {
        padding: 70px 25px;
    }
}

@media(max-width: 626px) {
    .hero-content {
        width: 100%;
    }

    .form-input-box {
        max-width: 80%;
    }

    .customers-container {
        padding: 40px 15px;
    }
}

@media(max-width : 575.98px) {
    .article-news-container {
        padding: 100px 70px;
    }

    .common-links {
        font-size: 13px;
    }

    .find-property-common-margin2 {
        margin-bottom: 24px;
    }

    .footer-container {
        padding: 20px 40px;
    }
    .discover-text {
        margin: 0;
    }

    .input-margin-575 {
        margin-bottom: 30px;
    }
    .get-app-text {
        margin-bottom: 10px;
    }
    .our-address-contact {
        margin-top: 10px;
        line-height: 20px;
    }

    .discover-links a {
        font-size: 12px;
    }

    .common-font-12 {
        font-size: 14px;
    }

    .common-font-10,
    .copyright {
        font-size: 12px;
    }
}

@media(max-width : 558px) {
    .homes-for-you-container {
        padding: 70px 80px;
    }

    .real-estate-agent-container {
        padding: 40px 20px;
    }

    .agent-container {
        flex-direction: column;
        gap: 20px;
    }
}

@media(max-width : 481.98px) {
    .homes-for-you-container {
        padding: 70px 55px;
    }

    .article-news-container {
        padding: 100px 30px;
    }
}

@media(max-width : 449.98px) {
    .homes-for-you-container {
        padding: 30px 40px;
    }

    .name,
    .price,
    .duration {
        font-size: 13px;
    }

    .luxury-description {
        font-size: 13px;
    }

    .properties-col1-part2 {
        flex-direction: column;
        height: auto;
    }

    .properties-col1-part2-card {
        width: 100%;
        padding: 20px;
    }

    .properties2-img-container {
        margin-top: 20px;
        width: 100%;
        height: 49%;
    }
}

@media(max-width : 403px) {
    .homes-for-you-container {
        padding: 70px 30px;
    }
}

@media(max-width : 360px) {
    .card-parent-container {
        padding: 6px;
    }

    .name,
    .price,
    .duration {
        font-size: 12px;
    }

    .common-links {
        font-size: 12px;
    }

    .common-link-content {
        font-size: 11px;
    }

    .agent-content-heading {
        font-size: 21px;
    }
}