@media(max-width : 1262px) {
    .find-properties-container {
        padding: 70px 50px;
    }

    .footer-container {
        padding: 20px;
    }

    .discover-links a {
        font-size: 10px;
    }

    .common-font-12 {
        font-size: 12px;
    }

    .common-font-10,
    .copyright {
        font-size: 10px;
    }
}

@media(max-width : 1202px) {
    .article-news-container {
        padding: 100px 80px;
    }
}

@media(max-width : 1148px) {
    .real-estate-container {
        padding: 70px;
    }

    .common-link-content {
        margin-right: 0;
    }

    .col-card-part-container {
        padding: 10px 20px;
    }

    .col-card-right-icon-container {
        bottom: 10px;
        right: 10px;
    }
}

@media(max-width : 1094px) {
    .navbar-links {
        gap: 0;
    }

    .property-btn-part {
        gap: 8px;
    }

    .hero-content {
        margin-top: 40px;
    }
}

@media(max-width : 1082px) {
    .homes-for-you-container {
        padding: 70px 70px;
    }

    .custom-prev {
        left: -60px;
    }

    .custom-next {
        right: -60px;
    }

    .article-news-container {
        padding: 100px 30px;
    }
}

@media(max-width: 991.98px) {
    .navbar {
        background-color: #000000;
        position: fixed;
        top: 0;
        padding: 0;
    }

    .navlink-color,
    .nav-dropdown,
    .property-btn {
        font-size: 11px;
    }

    .hero-img {
        height: 100vh;
        border-radius: 24px;
    }

    .choose-us-container {
        padding: 70px 100px;
    }

    .choose-us-common {
        margin-bottom: 40px;
    }

    .article-news-container {
        padding: 100px 45px;
    }

    .article-news-card-container {
        margin-top: 30px;
    }

    .luxury-homes-container {
        padding: 100px;
    }

    .numbers-container-col {
        margin-top: 25px;
    }

    .customers-container {
        padding: 70px;
    }

    .margin-top-991 {
        margin-top: 24px;
    }

    .best-properties-container {
        padding: 70px 30px;
    }

    .find-properties-container {
        padding: 70px 0;
    }

    .input-margin-991 {
        margin-bottom: 50px;
    }

    .col-card-part-container {
        padding: 30px;
    }

    .col-card-right-icon-container {
        bottom: 30px;
        right: 30px;
    }
}

@media(max-width : 950px) {
    .bed-bath-sqrt-text {
        font-size: 10px;
    }

    .real-estate-agent-container {
        padding: 70px 150px;
    }
}

@media(max-width : 879.98px) {
    .real-estate-container {
        padding: 70px 30px;
    }

    .real-estate-agent-container {
        padding: 70px 120px;
    }

    .properties-arrow {
        bottom: 10px;
        right: 10px;
    }
}

@media(max-width : 845.98px) {
    .luxury-homes-container {
        padding: 100px 50px;
    }

    .properties-description {
        margin-top: 8px;
    }

    .properties-col1-part2-card {
        padding: 15px;
    }
}


@media(max-width : 768.98px) {
    .search-bar input {
        max-width: 70%;
    }

    .search-icon-container {
        right: 16%;
    }

    .choose-us-container {
        padding: 70px 40px;
    }

    .real-estate-agent-container {
        padding: 70px 80px;
    }

    .luxury-heading {
        margin-top: 20px;
    }

    .customers-container {
        padding: 40px 30px;
    }

    .customers-col1,
    .customers-col2 {
        margin-top: 50px;
    }

    .properties-col1-part2 {
        margin-top: 20px;
    }

    .properties-col2 {
        margin-top: 20px;
    }

    .best-properties-container {
        padding: 70px 0;
    }
}

@media(max-width : 767.98px) {
    .luxury-homes-container {
        padding: 100px 40px;
    }

    .luxury-heading {
        font-size: 22px;
    }

    .luxury-description {
        font-size: 12px;
    }

    .find-property-common-margin {
        margin-bottom: 24px;
    }
}

@media(max-width : 730px) {
    .homes-for-you-container {
        padding: 70px 100px;
    }

    .custom-arrow {
        height: 30px;
        width: 30px;
    }
}

@media(max-width : 682.98px) {
    .real-estate-agent-container {
        padding: 70px 25px;
    }
}

@media(max-width: 626px) {
    .hero-content {
        width: 100%;
    }

    .form-input-box {
        max-width: 80%;
    }

    .customers-container {
        padding: 40px 15px;
    }
}

@media(max-width : 575.98px) {
    .article-news-container {
        padding: 100px 70px;
    }

    .common-links {
        font-size: 13px;
    }

    .find-property-common-margin2 {
        margin-bottom: 24px;
    }

    .footer-container {
        padding: 20px 40px;
    }

    .discover-text {
        margin: 0;
    }

    .input-margin-575 {
        margin-bottom: 30px;
    }

    .get-app-text {
        margin-bottom: 10px;
    }

    .our-address-contact {
        margin-top: 10px;
        line-height: 20px;
    }

    .discover-links a {
        font-size: 12px;
    }

    .common-font-12 {
        font-size: 14px;
    }

    .common-font-10,
    .copyright {
        font-size: 12px;
    }

    .best-properties-container {
        padding: 70px 0;
    }

    .properties2-col-container {
        margin-top: 24px;
    }

    .properties3-img-bottom-part {
        left: 23px;
    }

}

@media(max-width : 558px) {
    .real-estate-agent-container {
        padding: 40px 20px;
    }

    .agent-container {
        flex-direction: column;
        gap: 20px;
    }
}

@media(max-width : 510px) {
    .homes-for-you-container {
        padding: 70px;
    }

    .custom-next {
        right: -37px;
    }

    .custom-prev {
        left: -37px;
    }
}

@media(max-width : 481.98px) {
    .article-news-container {
        padding: 100px 30px;
    }
}

@media(max-width : 490px) {
    .col-card-part-container {
        margin-bottom: 30px
    }
}

@media(max-width : 449.98px) {
    .homes-for-you-container {
        padding: 70px 52px;
    }

    .name,
    .price,
    .duration {
        font-size: 13px;
    }

    .luxury-description {
        font-size: 13px;
    }

    .properties-col1-part2 {
        flex-direction: column;
        height: auto;
    }

    .properties-col1-part2-card {
        width: 100%;
        padding: 20px;
    }

    .properties2-img-container {
        margin-top: 20px;
        width: 100%;
        height: 49%;
    }
}

@media(max-width : 403px) {
    .homes-for-you-container {
        padding: 70px 33px;
    }

    .custom-arrow {
        width: 20px;
        height: 20px;
    }

    .custom-arrow svg {
        font-size: 12px;
    }

    .custom-next {
        right: -25px;
    }

    .custom-prev {
        left: -25px;
    }
}

@media(max-width : 375px) {
    .properties3-bottom-container {
        gap: 25px;
    }

    .properties3-common {
        gap: 5px;
        padding-right: 10px;
    }
}

@media(max-width : 360px) {
    .card-parent-container {
        padding: 6px;
    }

    .bed-bath-sqrt-container {
        gap: 4px;
    }

    .name,
    .price,
    .duration {
        font-size: 12px;
    }

    .common-links {
        font-size: 12px;
    }

    .common-link-content {
        font-size: 11px;
    }

    .agent-content-heading {
        font-size: 21px;
    }
}